<h3 id="skills-header">Skills</h3>
<p class="napoleon">
	"You know, like nunchuku skills, bow hunting skills, computer hacking skills...<br/>
	Girls only want boyfriends who have great skills..."

	<span id="quoter">- Napoleon Dynamite</span>
</p>


<section id="skills" ng-style="{ width : (scrollSkills)+'%' }">
	<div 	ng-repeat="skill in skills"
			class="skillbar" 
			id="{{skill.id}}"
			ng-style="{ width : (skill.level*10)+'%' }"
			ng-click="swapSkillInfo(skill.id)">
			
		<div class="skillName">
			{{skill.skill}}
		</div>
		<div class="skillInfo">
			{{skill.info}}
		</div>
	</div>
</section>
