@import url(http://fonts.googleapis.com/css?family=Roboto:900,400,700,400italic,300italic,500,100italic,500italic,300,700italic,100,900italic);
@import url(http://fonts.googleapis.com/css?family=Lato:100,900);
@-webkit-keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  33% {
    -webkit-transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 1deg);
    transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 1deg);
  }
  66% {
    -webkit-transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes wobble {
  0% {
    -webkit-transform: none;
    transform: none;
  }
  33% {
    -webkit-transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 1deg);
    transform: translate3d(1%, 0, 0) rotate3d(0, 0, 1, 1deg);
  }
  66% {
    -webkit-transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -1deg);
    transform: translate3d(-1%, 0, 0) rotate3d(0, 0, 1, -1deg);
  }
  100% {
    -webkit-transform: none;
    transform: none;
  }
}
.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
canvas,
footer,
header,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body,
html {
  margin: 0;
  font-family: 'Lato', 'Roboto', 'Helvetica', 'Helvetica Neue', Arial, sans-serif;
  height: 100%;
  font-size: 16px;
  font-weight: 900;
  line-height: 25.88854382px;
  color: #333333;
}
ol,
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
input[type="text"],
input[type="number"],
input[type="password"],
textarea,
select {
  position: relative;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  height: auto;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
svg {
  overflow: visible;
}
input[type="submit"],
button {
  outline: none;
}
input[type="submit"]:focus,
button:focus {
  outline: none;
}
.slide {
  height: 100%;
  width: 100%;
  background: #ffc107;
  position: relative;
}
.slide:nth-of-type(even) {
  background: #333333;
  color: #ffc107;
}
.slide .face {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background: url('../assets/face.jpg') no-repeat 50% 50%;
  background-size: cover;
  border: 10px solid #333333;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: -50%;
  -ms-transform: scale(0.5);
  /* IE 9 */
  -webkit-transform: scale(0.5);
  /* Chrome, Safari, Opera */
  transform: scale(0.5);
  box-shadow: 0 0px 5px 0px rgba(51, 51, 51, 0.6);
  -webkit-transition: all 0.26s ease;
  -moz-transition: all 0.26s ease;
  -o-transition: all 0.26s ease;
  transition: all 0.26s ease;
}
.slide .face:hover {
  box-shadow: 0 3px 10px 1px rgba(51, 51, 51, 0.7);
  -ms-transform: scale(1.025);
  /* IE 9 */
  -webkit-transform: scale(1.025);
  /* Chrome, Safari, Opera */
  transform: scale(1.025);
  -ms-transform: rotate(-3deg);
  /* IE 9 */
  -webkit-transform: rotate(-3deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-3deg);
}
.slide .pos {
  position: absolute;
  text-align: center;
  top: 60%;
  width: 100%;
}
.slide .pos h1#hmnid {
  font-weight: bold;
  margin-bottom: 24px;
  -ms-transform: scale(0.5);
  /* IE 9 */
  -webkit-transform: scale(0.5);
  /* Chrome, Safari, Opera */
  transform: scale(0.5);
  opacity: 0;
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  cursor: default;
}
.slide .pos h2#info {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -ms-transform: scale(0.5);
  /* IE 9 */
  -webkit-transform: scale(0.5);
  /* Chrome, Safari, Opera */
  transform: scale(0.5);
  opacity: 0;
  cursor: default;
}
